::-webkit-scrollbar {
    width: 10px;
  }
    ::-webkit-scrollbar-track {
    background: #000000; 
  }
    ::-webkit-scrollbar-thumb {
    background: rgb(255, 90, 90); 
      border-radius:10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    
    background: rgb(254, 227, 90); 
  } 

.profile {
    height: 100vh;
    background-color: grey;
    background-size: cover;
}

.profile-header {
    display: flex;
    justify-content: space-around;
    margin-left: 180px;
    padding-top: 30px;
    font-size: xx-large;
    text-decoration: underline;
    color: rgb(255, 90, 90);
}

.profile-workout-list{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 1rem; 
    margin: 40px;
}

.profile-list{
    float: left;
    margin: -67px 100px 30px 0px;
    background-color: rgb(255, 90, 90);
    padding: 40px 30px 30px 30px;
    height: 100vh;
    border-radius: 5px;
}

.profile-list > ul > li{
    list-style-type: none;
    margin: 10px;
    font-weight: bold;
}

a {
    color: black;
}

a:hover{
    color: yellow;
}
.profile-list-hidden{
    display: none;
}

@media  (max-width: 1000px) {
    .profile-header {
        display: flex;
        justify-content: space-around;
        margin-left: 0px;
        padding-top: 30px;
        font-size: xx-large;
        text-decoration: underline;
        color: rgb(255, 90, 90);
    }
    
    .profile-workout-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem; 
        margin: 40px;
    }

    .profile {
        height: 100%;
        background-color: grey;
    }

    .profile-list{
        display: none;
    }

    .profile-list-hidden{
        display: inline-block;
        background-color: rgb(255, 90, 90);
        width: 99vw;
        min-height: 50px;
    }

    .profile-list-hidden > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}