html,
body{
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
    height: 40px;
    padding: 25px;
    background-color: teal;
}

a{
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: bold;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    pointer-events: visible;
    color: tomato;
}

a:visited{
    text-decoration: none;
}

.home{
    min-height: 100vh;
    display: block;
    position: relative;
    margin-bottom: 100px; 
}

.about{
    min-height: 100vh;
    display: block;
    position: relative;
    margin-bottom: 900px; 
}

.services{
    min-height: 100vh; 
    display: block;
    position: relative;
    margin-bottom: 100px; 
}

.home-image{
    top: -0.5%;
    left: -0.5%;
    width: 101%;
    height: 101%;
    object-fit: cover;
    object-position: center;
    opacity: 0.75;
}

.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: teal;
    padding: 5px;
    border-radius: 10px;
    color: whitesmoke;
}



.home-info{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 100%;
    min-height: 300px;
    background-color: whitesmoke;
}

.about-info{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 100%;
    min-height: 300px;
    background-color: whitesmoke;
}

.services-info{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 100%;
    min-height: 300px;
    background-color: whitesmoke;
}

.filler{
    padding: 20px 400px 20px 400px;
}

.about-image{
    width: 800px;
    height: auto;
    padding: 25px;
}

.about-gallery{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%; 
    min-height: 40px;
    background: teal;
    display: flex;
    justify-content: space-evenly;
}

.left{
    background-color: tomato;
    border-radius: 30px;
    height: 60px;
    margin-top: 50px;
}

.left-link:link{
    font-size: initial;
    text-decoration: none;
}

.left-link:hover{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
    text-align: center;
}

li{
    padding: 5px;
}